---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->
	<ul>
      <h1>Projects</h1>
      <li><a href="/dav1d"><i>"ARM NEON Optimization"</i><b> - dav1d</b></a></li>
      <li><a href="/haiku"><i>"SDHCI MMC Driver"</i><b> - Haiku</b></a></li>
      <li><a href="/drodo"><i>"A Drone Project"</i><b> - DroDo</b></a></li>
      <h1>Theory</h1>
      <li><a href="/controlsystems"><i>"Influence Is Control"</i><b> - Control Systems</b></a></li>
      <h1>Fixtures</h1>
      <li><a href="/randombin"><i>"Just Some Random Stuff"</i><b> - Random Bin</b></a></li>
    </ul>